<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}

        <script src="https://kit.fontawesome.com/a34c2ac31d.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('css/apropos.css') }}">
        
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="logo">
                    <img src="{{ asset('img/logonessprimeur.png')}}" alt="Logo Ness Primeur">
                </div>

                <nav class="menu">
                    <div class="head">
                        <div class="logo"><img src="{{ asset('img/logonessprimeur.png')}}" alt="Logo Ness Primeur"></div>
                        <button type="button" class="close-menu-btn"></button>
                    </div>
                    <ul>
                        <li><a href="{{ path('app_home') }}"><span>home</span></a></li>
                        <li class="dropdown">
                            <a href="{{ path('app_product') }}"><span>produit</span></a>
                            <i class="fa-solid fa-chevron-down"></i>
                                <ul class="sub-menu">
                                    <li><a href="#"><span>produit 1</span></a></li>
                                    <li><a href="#"><span>produit 2</span></a></li>
                                    <li><a href="#"><span>produit 3</span></a></li>
                                </ul>
                        </li>
                        <li><a href="{{ path('app_contact') }}"><span>contact</span></a></li>
                        <li><a href="{{ path('app_apropos') }}"><span>a propos</span></a></li>
                    </ul>
                </nav>

                <div class="header-right">

                    {% if app.user %}
                        <div class="dropdown">
                            <button type="button" class="user-btn icon-btn"> Bonjour {% set username = app.user.email|split('@')|first %} {{ username|capitalize }} ! &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user"></i></button>
                            <ul class="sub-menu">
                                <li><a href="{{ path('app_profil', {id: app.user.id}) }}">Profile</a></li>
                                <li><a href="{{ path('app_logout') }}">Logout</a></li>
                            </ul>
                        </div>
                    {% else %}   
                        <div class="dropdown">
                            <button type="button" class="user-btn icon-btn"> Non connecté &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user"></i></button>
                            <ul class="sub-menu">
                                <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                            </ul>
                        </div>                    
                    {% endif %}
                        <button type="button" class="cart-btn icon-btn"><a href="{{ path('app_panier') }}"><i class="fa-solid fa-shopping-cart"></i></a></button>
                        <button type="button" class="open-menu-btn">
                            <span class="line line-1"></span>
                            <span class="line line-2"></span>
                            <span class="line line-3"></span>
                        </button>

                </div>
            </div>
        </header>

        <section id="wrapper_content">

        {% block body %}{% endblock %}

        </section>

        <footer class="footer">
                <div class="linkFooter">
                    <div class="logoFooter">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logonessprimeur.png')}}" alt="Logo Ness Primeur"></a>
                            <div class="social">
                                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                    </div>
                        <div class="newsletter">
                            <h3>Rejoins la Newsletter !</h3>
                            <p>Inscrit toi à la newsletter pour ne manquer aucun nouveaux produits et rester au courant de nos promotions !</p>
                            <form action="">
                                <input type="email" name="email" id="email" placeholder="Votre email ici ..."><br>

                                <input type="submit" value="Valider">
                            </form>
                        </div>
                        <div class="pagesFooter">
                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="">Produits</a></li>
                                <li><a href="">Mon compte</a></li>
                                <li><a href="">Panier</a></li>
                                <li><a href="">A propos</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p><span class="copyright">Copyright 2024 - Mention légale | Politique de confidentialité</span></p>
        </footer>
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            <script src="{{ asset('js/script.js') }}"></script>
            <script src="{{ asset('js/ajax.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {% endblock %}
    </body>
</html>
