{% extends 'base.html.twig' %}

{% block title %}Hello OrdersController!{% endblock %}

{% block body %}

    {% if order %}
        <p>{{ order.reference }}</p>
        <p>{{ order.totalPrice|number_format(2, '.') }}</p>
        <p>{{ order.id }}</p>
        <p>{{ order.command.email }}</p>

        {% if products %}
            {% for product in products %}
                <p>{{ product.product.designation }}</p>
                <p>{{ product.quantity }}</p>
                <p>{{ product.price|number_format(2, '.') }}</p>
                <p>{% set totalPriceProduct = product.quantity * product.price %} {{ totalPriceProduct|number_format(2, '.') }}</p>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
